$orange: #e45028;
$yellow: #f9b43b;
$green: #4e8839;
$darkgreen: #122620;
$darken: #1f2122;
$white: #ffffff;
$grey: #373e42;
$red: #FF0000;

$menu: #618f55;
$menuactive: #487e39;

$meat: #e25028;
$hand: #f8b43a;
$natural: #6c9c5a;

$lightgrey: #9b9fa1;
$title: #373e42;
$title_two: #566358;

$lightgreen: #87aa41;