$orange: #e45028;
$yellow: #f9b43b;

$darkgreen: #122620;
$darken: #1f2122;
$white: #ffffff;
$grey: #373e42;
$red: #FF0000;

$menu: #618f55;
$menuactive: #487e39;
$title-icon: #93c42e;





$text: #566358;
$lightgrey: #9b9fa1;
$title: #373e42;
$title_two: #566358;
$button: #6c9c5a;

$lightgreen: #87aa41;
$green: #4e8839;
$intro_icon: #8b9895;
$left-container: #ebefe2;
$right-container: #e1e4d7;
$blog-line: #ecebe4;
$about-right: #f4f5f0;

$circle-second: #74a163;
$circle-first: #dfdcd5;
