footer.footer
    .content.footer__content
        ul.footer__list
            li.footer__item.footer__left-content
                .footer__content-left Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
            li.footer__item.footer__center-content
                .nav.footer__nav
                    ul.nav__list.footer__nav-list
                        li.nav__item.footer__nav-item
                            a.nav__item-link.footer__nav-link(href="my-works.html") Мои работы
                        li.nav__item
                            a.nav__item-link.footer__nav-link(href="about.html") Обо мне
                        li.nav__item
                                a.nav__item-link.footer__nav-link(href="blog.html") Блог
                        li.nav__item
                            a.nav__item-link.footer__nav-link(href="login.html") Авторизация                                                                              
                .social.footer__socials
                    ul.social__list
                        li.social__item
                            a.social__link(href="")
                                svg.social__icon.footer__icon
                                    use(xlink:href='../../assets/images/sprite.svg#vk')
                        li.social__item
                            a.social__link(href="")
                                svg.social__icon.footer__icon
                                    use(xlink:href='../../assets/images/sprite.svg#github') 
                        li.social__item
                            a.social__link(href="")
                                svg.social__icon.footer__icon
                                        use(xlink:href='../../assets/images/sprite.svg#in') 
            li.footer__item.footer__right-content
                .footer__content-right Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете. — <b> Martin Golding
    .copyright.footer__copyright
        p.copyright__text &copy Владимир Астахов | Создано с любовью в LoftSchool | 2016