.hamburger  
    button(id="toggle").hamburger_link
        span.top
        span.middle
        span.bottom
   
    .overlay(id='overlay')
        .overlay__menu
            ul.overlay__list
                li.overlay__item
                    a.overlay__item-link(href='my-works.html') Мои работы
                li.overlay__item
                    a.overlay__item-link(href='blog.html') Блог
                li.overlay__item
                    a.overlay__item-link(href='about.html') обо мне
                li.overlay__item
                    a.overlay__item-link(href='index.html') Авторизация
