header.header
    include ./header_list.pug
    include ./hamburger_menu.pug      

.content
    include ./info.pug

    a.scroll(href="")
        svg.scroll__icon
            use(xlink:href='../../assets/images/sprite.svg#scrolldown')
