ul.header__list
    li.header__item
        a.header__item-link(href='') 
            svg.header__item-icon
                use(xlink:href='../../assets/images/sprite.svg#vk')
    li.header__item
        a.header__item-link(href='') 
            svg.header__item-icon
                use(xlink:href='../../assets/images/sprite.svg#github')
    li.header__item
        a.header__item-link(href='') 
            svg.header__item-icon
                use(xlink:href='../../assets/images/sprite.svg#in')                                                
                    