extends ../template

block variables
    - var title = 'Обо мне'

block content
   
    include ../section/general.pug
    include ../common/about_content.pug
    include ../common/map.pug
    include ../common/footer.pug