extends ../template

block variables
    - var title = 'Мои работы'
   

block content
    section.section.hero
        .container.container_hero
            header.header
                include ../common/header_social.pug
                include ../common/hamburger.pug
            .hero__title
                .title-img.hero__title-img
                    svg.title-icon.hero__title-icon
                        use(xlink:href='../../assets/images/sprite.svg#portfolio_header')
                .user
                    .user__pic
                        img.user__pic-img(src="../../assets/images/foto.jpg" alt="avatar")
                    .user__description
                        .user__name Владимир Астахов
                        .user__info Личный сайт разработчика
            .scroll
                button.scroll__link(type="button")
                    svg.scroll__icon
                        use(xlink:href='../../assets/images/sprite.svg#arrow_down')

    section.section.section_works
        .triangle-left.works__triangle-left
            
        .triangle-right.works__triangle-right                
        .works__title
            .title-img.works__title-img
                svg.title-icon.works__title-icon
                    use(xlink:href='../../assets/images/sprite.svg#works_header')
            h1.works__title-text Мои работы
        .works__container
            .works__content
                
                .works__left-content
                    h2.works__left-title Сайт школы онлайн образования
                    .works__left-text html, CSS, javascript
                    .button.works__button
                        a.button__link.works__button-link(href="")
                            span.works__button-img
                                svg.works__button-icon
                                    use(xlink:href='../../assets/images/sprite.svg#link')
                            span.works__button-text Посмотреть сайт      
            .works__slider
                .slider
                    ul.slider__list  
                        li.slider__item
                            .slider__item-content
                                img.slider__item-img(src="../../assets/images/slider/slide1.png", alt="слайд 1")

            .works__slider-control
                    .slider__control.first
                        .slider__control-left
                            ul.slider__control-list
                                li.slider__control-item.active
                                    img.slider__control-img(src='./../assets/images/slider/down.jpg')
                                li.slider__control-item
                                    img.slider__control-img(src='./../assets/images/slider/slide1.png')
                                li.slider__control-item
                                    img.slider__control-img(src='./../assets/images/slider/up.jpg')                                                                                
                            .slider__controls
                                a.slider__controls-down(href="#" id="slider")
                                    svg.slider__control-icon
                                        use(xlink:href='../../assets/images/sprite.svg#arrow_down')
                    .slider__control.opposite                    
                        .slider__control-right
                            ul.slider__control-list
                                li.slider__control-item.active
                                    img.slider__control-img(src='./../assets/images/slider/down.jpg')
                                li.slider__control-item
                                    img.slider__control-img(src='./../assets/images/slider/slide1.png')
                                li.slider__control-item
                                    img.slider__control-img(src='./../assets/images/slider/up.jpg')                                
                            .slider__controls
                                a.slider__controls-down(href="#" id="slider")
                                    svg.slider__control-icon
                                        use(xlink:href='../../assets/images/sprite.svg#arrow_down')                                        

                        
    section.section.section_comment
        .section__background
            img.background-img(src='../../assets/images/background/my-works.jpg')
        .container.comment_container
            .comment__title-content
                .title-img.comment__title-img
                    svg.title-icon
                        use(xlink:href='../../assets/images/sprite.svg#about_header')
                h2.comment__title что обо мне говорят
            ul.comment__list
                li.comment__item
                    .comment__foto
                        img.comment__img(src="'../../assets/images/dima.jpg", alt="foto")
                    .comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftShool! 2 месяца только самых тяжелых испытаний и бесконечных ночей!
                    .comment__item-title
                        p.comment__title-name Ковальчук Дмитрий
                        p.comment__title-text - основатель Loftschool!
                li.comment__item
                    .comment__foto
                        img.comment__img(src='../../assets/images/vova.jpg', alt="foto")
                    .comment__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .comment__item-title
                        p.comment__title-name Сабанцев Владимир
                        p.comment__title-text - преподаватель
        .form_container   
          
            form.form(name="form" action="" )
                .form__blur
                    
                .form__content-block
                

                    h2.form__title связатся со мной
                    .form__content
                        label.form__name-label.visually-hidden(for="name") Имя
                        input.form__name-input(type="text" name="name" id="name" placeholder="Имя")   
                        label.form__mail-label.visually-hidden(for="mail") E-mail
                        input.form__mail-input(type="text" name="mail" id="mail" placeholder="Email")
                        
                        textarea.form__massage(id="massage" placeholder="Ваше сообшение")
                    .form__button
                        ul.form__button-list
                            li.form__button-item
                                button.form__button-send(id="send" type="submit" value="отправить") Отправить
                            li.form__button-item
                                button.form__button-clear(id="clear" type="reset" value="очистить") Очистить
            .scroll.arrow__up
                button.scroll__link(type="button")
                    svg.scroll__icon
                        use(xlink:href='../../assets/images/sprite.svg#arrow_down')
        include ../common/footer.pug


    