
@import 'layout/_fonts.scss';
@import 'layout/_variables.scss';
@import 'layout/_mixin.scss';
@import 'layout/_media.scss';

//RESOLUTION//

$desk: 1200px;

$notebook: 850px;

$tablet: 768px;

$phone: 480px;

//$phone_mini: 384px;

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
   height: 100%;
   width: 100%;
   font-family: 'Roboto';
   margin: 0;
   
}


.wrapper{
    width: 100%;
    height: 100%;
    text-align: center;
    //display: flex;
    //align-items: center;
    //flex-direction: column; 

}

.maincontent{
    width: 100%;
    height: 100%;

}

.section {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    min-height: 650px;
    display: flex;
    //align-items: center;
    justify-content: center;
    //flex-direction: column;

    @include tablet{
        height: auto;
    }
}

.container{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    @include tablet{
        height: auto;
    }

    @include phone{
        height: auto;
    }
    
}

h1{
    font-family: 'sansus';
    font-size: 63px;
    color: $title;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    &:after{
       display: block;     
       margin-top: 15px;
        content: ' ';
        @include line(90px, 3px, $title);
        

    }

    @include tablet{
       
        font-size: 50px;
       
    }

    @include phone{
        font-size: 40px;
    }
}

h2{
    color: $title_two;
    font-family: 'sansus';
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after{
        display: block;     
        margin-top: 20px;
         content: ' ';
         @include line(90px, 3px, $title_two);
         
 
     }

     @include tablet{
        
         font-size: 30px;
        
     }
 
     @include phone{
         font-size: 20px;
     }

    

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
 a{
     text-decoration: none;
     display: block;
 }


button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

 p{
     padding: 0;
     margin: 0;
 }

 svg{
    width: 100%;
    height: 100%;

 }




 .visually-hidden{
    position: absolute !important;
      clip: rect(rem(1px), rem(1px), rem(1px), rem(1px));
      padding:0 !important;
      border:0 !important;
      height: rem(1px) !important; 
      width: rem(1px) !important; 
      overflow: hidden;
  }
 


@import 'common/preloader';
@import 'common/button';
@import 'common/hamburger';
@import 'common/copyright';
@import 'common/nav';
@import 'common/socials';
@import 'common/scroll';
@import 'common/footer';
@import 'common/triangle';
@import 'common/circle';
@import 'common/title-img';
@import 'common/slider';
@import 'common/user';
@import 'common/map';



@import 'common/intro';
@import 'common/my-works';
@import 'common/blog';
@import 'common/about';
@import 'common/contact';
@import 'common/comment';
@import 'common/form';
@import 'common/login';
