.section_about{
    color: $text;
    flex-direction: row;
    display: flex;
    position: relative;
    height: auto;
    


    @include tablet{

        height: auto;

    }
   
    @include phone{
        height: auto;
    }
    

}

.about__container{
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: unset;
    
    box-sizing: border-box;
    

    @include tablet{
        flex-direction: column;
    }

    @include phone{
        height: 100%;
    }
    
}

.about__left{
    background-color: $left-container;
    width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;


    @include tablet{
        width: 100%;
        height: 100%;
    }

    @include phone{
        padding-bottom: 20px;
    }
}

.about__left-container{
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 100%;

    @include desk{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    @include tablet{
        width: 60%;
        flex-direction: column;
    }

    @include phone{
        width: 100%;
    }
}


.about__left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.about__left-title{
    width: 100%;
    position: relative;

    @include phone{
        width: 90%;
    }
}

.user-description{
    margin-top: 32px;

}

.user-description__image{
    width: 443px;
    height: 390px;
    overflow: hidden;
    position: relative;
    

    .user-description__avatar{
        position: absolute;
        top: 0px;
        left: -255px;
        transform: scale(-1, 1);

        
    }
}

.user-description__title{
    margin-top: 42px;

    
}

.user-description__text{
    margin-top: 29px;
    text-align: left;

    @include phone{
        width: 80%;
    }
}


.about__right{
    
    background-color: $about-right;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    text-align: left;

    @include tablet{
        width: 100%;
        text-align: center;
        min-height: fit-content;
    }


    @include phone{
        padding-top: 20px;
        box-sizing: border-box;
        display: flex;
    }
}

.about__right-title{
    text-align: center;

    @include tablet{
        margin-top: 30px;
    }
}

.about__right-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    @include tablet{
        width: 70%;
        align-items: center;

    }

}

.about__right-text{
    margin-top: 30px;
}

.about__right-content{
    font-size: 28px;
    font-weight: 500;
    width: 100%;

    @include tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}

.skills__list{
    display: flex;  
    flex-direction: column;

    @include tablet{
        align-items: center;
    }

    
}

.skills__list-item{
    margin-top: 39px;

    @include tablet{

    }
}

.skills__row-item{
    position: relative;
    margin-right: 37px;
    margin-top: 10px;

    @include tablet{
        margin-right: 18px;
        margin-left: 18px;
    }

    @include phone{
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 15px;
    }
}

.skills__row-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 17px;


    @include tablet{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    @include phone{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.skill{
    width: 100px;
    height: 100px;
    position: relative;
}


