.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 45px;
    border: 2px solid white;
    border-radius: 30px;
    

}

.button-link{
    color: $white;
    font-weight: 500;
    font-size: 16px;
    
}