.section__comment{
    background-image: url('../../assets/images/background/my-works.jpg');
    background-size: cover;
    position: relative;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: spa
    
}

.comment__container{
    width: 100%;
    height: 100%;
}

.comment__title-content{
    position: relative;
    width: 60%;

    @include phone{
        width: 95%;
    }

}
.comment__list{
    display: flex;
    text-align: left;
    font-style: italic;
    width: 80%;

    @include phone{
        width: 95%;
        flex-direction: column;
    }
    


}

.comment__item{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 30px;

    @include phone{
        width: 100%;
    }
}

.comment__foto{
    width: 77px;
    height: 77px;
    overflow: hidden;
    border-radius: 50%;

}

.comment__img{
   width: 100%
}

.comment__title{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.comment__title-name{
    color: $green;
    font-weight: 500;
    margin-top: 29px;
}

.comment__title-text{
    margin-top: 8px;
}

.comment__text{
    line-height: 26px;
    margin-top: 20px;
}
