
.section__form{
   // background-image: url('../../assets/images/background/my-works.jpg');
}

.form__container{
  width: 100%;
  height: 90%;
  justify-content: flex-start;

  @include phone{
      align-items: center;
  }
}

.form__title{
    padding: 0px 30px 0px 30px;
}


.form{
    padding: 27px 22px 22px 22px;
    box-sizing: border-box;
    background-color: rgba( 244, 245, 240, 0.851);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form__content{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;


}

.form__name{
    height: 45px;
    border-radius: 50px;
    border: 1px solid transparent;
    margin-top: 20px;
    padding-left: 15px;
}

.form__mail{
    height: 45px;
    border-radius: 50px;
    border: 1px solid transparent;
    margin-top: 20px;
    padding-left: 15px;
}

.form__massage{
    height: 140px;
    border-radius: 30px;
    border: 1px solid transparent;
    resize: none;
    outline: none;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 15px;
    box-sizing: border-box;
}

.form__button{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: $menu;
    display: flex;
    justify-content: space-between; 
    

}

.form__button-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.form__button-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 2px solid white;

    &:hover{
        background-color: $menuactive;
    }


    &:first-child{
        border-left: 2px solid transparent;
    }

    
}


.form__button-send, .form__button-clear{
    color: $white;
    border: none;
    height: 100%;
    width: 100%;
    background-color: $menu;
    font-weight: 500;

    &:hover{
        background-color: $menuactive;
    }

   
}







