
.section__form{
   // background-image: url('../../assets/images/background/my-works.jpg');
}

.form_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  @include phone{
      align-items: center;
  }
}

.form__title{
    padding: 0px 30px 0px 30px;
}


.form{
   
    box-sizing: border-box;
    
    border-radius: 5px;
    overflow: hidden;
    position: relative;
   
    height: 460px;
    width: 380px;


    @include phone{
        width: 290px;
    }

  
}

.form__blur{
    background: url(../../assets/images/background/my-works.jpg)  no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(10px);
    top: 0;
    left: 0;
   // z-index: -1;

    


}

.form__content-block{
    padding: 27px 22px 22px 22px;
    z-index: 10;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
   
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include phone{
        padding: 0;
    }
}


.form__content{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;


}

.form__name-input{
    height: 45px;
    border-radius: 50px;
    border: 1px solid transparent;
    margin-top: 20px;
    padding-left: 15px;
}

.form__mail-input{
    height: 45px;
    border-radius: 50px;
    border: 1px solid transparent;
    margin-top: 20px;
    padding-left: 15px;
}

.form__massage{
    height: 140px;
    border-radius: 30px;
    border: 1px solid transparent;
    resize: none;
    outline: none;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 15px;
    box-sizing: border-box;
}

.form__button{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    
    display: flex;
    justify-content: space-between; 
    

}

.form__button-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.form__button-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
   
    border-left: 2px solid white;

    

    &:first-child{
        border-left: 0px solid transparent;
    }

    
}


.form__button-send, .form__button-clear{
    color: $white;
    border: none;
    height: 100%;
    width: 100%;
    background-color: $menu;
    font-weight: 500;
    //padding-top: 10px;
    //padding-bottom: 10px;

    &:hover, :focus, :active{
        background-color: $menuactive;
    }

   
}

.form__filter{
    width: 100%;
    height: 100%;
}







