.hamburger{
    width: 35px;
    height: 40px;

}

.hamburger__link{
    width: 100%;
    height: 100%;

}

.hamburger__icon{
    fill: $white;
    width: 100%;
    height: 100%;

    &:hover{
        fill: $green;
    }

}