.scroll{
    position: absolute;
    bottom: 0;
    padding-bottom: 70px;
    z-index: 5;

}

.scroll__link{
    width: 26px;
    height: 17px;

}

.arrow__up{
    transform: rotate(180deg);
    position: relative;
    padding-bottom: 35px;
}

.scroll__icon{
    width: 100%;
    height: 100%;
    fill: $white;

    &:hover{
        fill: $green;
    }
}